<main class="main" id="app">
  <div class="row g-0 h-100">
    <div class="col-7 h-100">
      <div class="h-50">
        <div class="h-100 text-center p-3">
          <img src="/static/gif/pushups.gif" alt="demo" class="h-100 border rounded">
        </div>
      </div>
      <div class="h-50 p-3">
        <div class="bg-success border rounded mb-3">
          <p class="text-center m-0 text-light" style="font-size: 128px;">3:00</p>
        </div>
        <div class="bg-warning border rounded">
          <p class="text-center m-0" style="font-size: 48px;">
            Up Next: {{ (index .Movements 0).Name }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-5 h-100 p-3">
      <ul class="list-group list-group-flush border rounded">
        {{ range $index, $movement := .Movements }}
          {{ if ge $index 2 }}
            <li
              class="list-group-item d-flex justify-content-between"
              style="font-size:24px;"
            >
              <p class="m-0">{{ $movement.Name }}</p>
              <span class="badge text-bg-secondary align-middle">
                <p class="m-0">00:20</p>
              </span>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</main>
